.main{
  height: 100%;
  width: 100%;
  border-style: double;
  background-color: firebrick;
}

.head {
  background-color: dimgray;
  text-align: center;
  height: 15%;
  width: 100%;
}

.nav {
  height: 15%;
  width: 100%;
  text-align: center;  
}

.app2{
  height: auto;
  width: 100%;
   
}
.app2-1{
  position: relative;
  outline-style: double;
  width: 50%;
  height: 100vh;
  float: left;
}



.app2-2 {
  width: 50%;
  float: left;
  height: 100vh;
  
 
}

